/* ///// GLOBAL //////*/
.block_links h3+p a {
	display: block;
}
.shadow{
	box-shadow: 0 3px 10px #333;
}

/* ///// CAROUSEL STYLES /////// */
#carousel-example-generic .item img {
  height: auto;
}

.carousel-caption h3 {
	text-shadow: 2px 2px #333;
}

.carousel-caption p {
  display: none;
  display: block;
}

@media only screen and (min-width: 768px) {
  #carousel-example-generic .item img {
    height: 384px;
  }
}

@media only screen and (min-width: 992px) {
  #carousel-example-generic .item img {
    height: 496px;
  }

@media only screen and (min-width: 1200px) {
  #carousel-example-generic .item img {
    height: 600px;
  }
}

/* //// SOCIAL /////*/
@media only screen and (max-width: 768px) {
	ul#social {
		display: none;
	}
}

#social {
	margin-top: 15px;
}
a.fbook, a.twit, a.ghub {
	width: 40px;
	height: 40px;
	text-indent: 100%;
	overflow: hidden;
	background: url(../images/logos.png)
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: 0 -40px; }

a.twit { background-position: -40px  0; }
a.twit:hover { background-position: -40px -40px; }

a.ghub { background-position: -80px 0;}
a.ghub:hover {background-position: -80px -40px;}

/*///// MAIN CONTENT //// */

#featured_content {
  padding: 30px;
  margin-bottom: 20px;
  background: white;
}

footer {
	text-align: center;
	font-size: .75em;
	padding: 10px;
	background: #eee;
	border-top: 1px solid;
}

/* ////// DETAILS SECTION //////*/
#details {
	padding: 20px 0;
}

#details h3 {
	text-align: center;
}

#details [class*="col-"] {
	height:150px;
}

#details .border{
	border-right: 1px dotted #333;
	padding-right: 20px
}

#details a {
	color: #333;
	text-decoration: none;
}

#details a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 768px) {
	#details [class*="col-"] {
		height: auto;
	}

	#details .border {
		border-bottom: 1px dotted #333;
	}

	#details h3 {
		text-align: left;
		font-size: 1.5em;
	}
	#details #social {
		width: auto;
	}
	#details #social a{
		display: inline-block;
	}
	
	#details #hide {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	#details #social {
		visibility: hidden;
	}

	#details #hide a {
		display: block;
	}
}

/* //////// BACKGROUND ///// */
.background {
	background: url(../images/shiplap.jpg) no-repeat center top;
 	background-size: cover;
}

.grey-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100&0.25+0,1+100;Grey+Black+3D */
	background: -moz-linear-gradient(top,  rgba(181,189,200,0.25) 0%, rgba(130,140,149,0.52) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,0.25) 0%,rgba(130,140,149,0.52) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(181,189,200,0.25) 0%,rgba(130,140,149,0.52) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}
.light-grey {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.yellow {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+98&1+1,0.3+100 */
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(254,252,232,1) 1%, rgba(241,218,54,0.31) 98%, rgba(241,218,54,0.3) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(254,252,232,1) 1%,rgba(241,218,54,0.31) 98%,rgba(241,218,54,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(254,252,232,1) 1%,rgba(241,218,54,0.31) 98%,rgba(241,218,54,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#4df1da36',GradientType=0 ); /* IE6-9 */
}

/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/* /////// FIXES /////// */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}

