


/* //// SOCIAL /////*/
#social {
  position: fixed;
  top: 185px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}

/* //////// LAYOUT //////*/
.wrapper {
  width: 960px;
  margin: 0 auto;
}